$colors: (
  background-transparent: rgba(76, 145, 141, 0.75),
  font-color: black,
  hoover-bg: #666,
  hoover-text: #eee,
  background-disabled: #999,
  disabled: #888,
  whiteColor: white,
  grayColor: #555,
  greenColor: #066651,
  redColor: red,
  orangeColor: #d45013,
  yellowColor: #d6c104
);
