.header {
  height: $header-height;
  display: flex;
  flex-direction: row;
  font-size: $base-font-size;
  font-family: $base-font-family;
  background-color: map-get($colors, "background-transparent");
  justify-content: space-between;
  align-items: center;
  padding: $base-margin-horizontal;
  gap: 30px;

  a {
    text-decoration: none;
  }

  .nav-item {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    color: map-get($colors, "greenColor");

    h1 {
      font-weight: 700;
      font-size: $base-font-size * 1.2;
      margin-bottom: 0;

      &:hover {
        text-shadow: 1px 1px 2px rgba(33, 33, 33, 0.2);
        transform: scale(1.01);
      }
    }
    button {
      font-size: $base-font-size * 0.9;
      font-family: $base-font-family;
      font-weight: 200;
      background: none;
      border: none;
      color: White;
    }
    p {
      align-self: center;
      margin-bottom: 0;
      &.title {
        font-size: $base-font-size * 1.2;
        font-weight: 200;
        color: map-get($colors, "yellowColor" );
      }
      &:hover {
        text-shadow: 1px 1px 2px rgba(33, 33, 33, 0.2);
        transform: scale(1.01);
      }
    }
  }

  .navbtn {
    font-size: $base-font-size * 0.9;
    font-family: $base-font-family;
    font-weight: 200;
    border: none;
    border-radius: $base-radius;
    color: White;
    background-color: map-get($colors, "greenColor");
    width: $header-btn-width;
    height: $header-btn-height;
    transition: box-shadow 0.3s;

    &:hover {
      background-color: map-get($colors, "background-transparent");
      box-shadow: 0px 0 11px rgba(33, 33, 33, 0.2);
      transform: scale(1.01);
    }
  }
  .grow {
    flex-grow: 1;
    flex-shrink: 1;
  }
}
