.item-container {
  padding: $base-margin-vertical * 3;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: $base-margin-vertical * 4;
  font-family: $base-font-family;
  border-radius: $base-radius;
  font-size: $base-font-size;
  transition: box-shadow 0.3s;

  .item {
    background-color: map-get($colors, "background-item");
    height: $item-height;
    width: $item-width;
    padding: $base-margin-vertical * 1;
    border: map-get($colors, "lightGrayColor") solid 1px;
    border-radius: $base-radius;
    transition: box-shadow 0.3s;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-grow: 0;
    gap: 10px;
    justify-content: space-between;

    .subitem {
      width: auto;
      text-align: start;
      flex-grow: 1;
    }
    .sellerName {
      font-size: $base-font-size * 1;
      font-weight: 600;
      text-align: right;
      small {
        font-size: $base-font-size * 0.8;
        font-weight: 200;
      }
    }

    &:hover {
      cursor: pointer;
      transform: scale(1.01);
      box-shadow: 0px 0 11px rgba(33, 33, 33, 0.2);
    }
    .description {
      font-size: $base-font-size * 0.8;
      font-weight: 200;
      height: $item-describe-height;
    }
    .price {
      font-size: $base-font-size * 1.2;
      font-weight: 800;
    }

    .wrap {
      overflow-wrap: break-word;
    }
  }
  .subitem-image {
    flex-shrink: 0;
    align-items: center;
    margin: 0px 10px;
    img {
      height: $item-img-height;
    }
  }
}

